body {
  background-color: #444;
}
.main-wrapper  {
  width: 60%;
  margin: 80px auto;
  height: 580px;
  background-color: #fff;
  display: flex;
}
.main-left  {
  width: 60%;
  height: 100%;
}
.main-right {
  width: 40%;
  height: 100%;
  background-image: url(img/side.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-things-wrapper {
  width: 90%;
  margin: 30px auto;
}
.inner-things-wrapper h1 {
  font-size: 40px;
  font-weight: normal;
}
.inner-things-wrapper p{
  padding-top: 10px;
}
.socila-medias-block  {
  margin-top: 60px;
}
.block1-social  {
  background-color: #fff;
  border: 1px solid silver;
  width: 90%;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: .4s;
  margin-bottom: 20px;
}
.rasm-block {
  width: 30px;
}
.text1  {
    font-weight: 700;
    font-size: 16px;
    margin-left: 140px; 
}
.block1-social:hover {
  box-shadow: 0 0 10px 1px silver;
  border: 1px solid #fff;
}
hr{
  width: 100%;
}
.fotter-block {
  margin-top: 100px;
}
.fotter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}